/* Styling for footer */
footer {
    background-color: var(--primary-color);
    padding: 3em 0;
    text-align: center;
    font-size: .9rem;
    margin-top: 7em;
}

footer a {
    color: var(--background-color);
}

.footer__logo {
    font-size: 2rem;
    font-weight: 500;
    display: inline-block;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    margin: 0 auto 3em;  
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 4em;
}

.footer__socials a {
    background-color: var(--background-color);
    color: var(--white);
    padding: .8em;
    border-radius: .8em;
    display: flex;
    border: 1px solid transparent;
    transition: var(--main-transition);
}

.footer__socials a:hover {
    background-color: transparent;
    border-color: var(--background-color);
    border-color: var(--background-color);
}

.footer__copyright {
    margin-bottom: 4em;
    color: var(--background-color);
}

/* ? Media Queries to make website responsive */
 
/* Small devices (Smartphone etc.) */
@media screen and (max-width: 600px) {
    /* Styling set different if above size is met */
    .permalinks {
        flex-direction: column;
        gap: 1.5em;
    }

    .footer__socials {
        margin-bottom: 2.6em;
    }
}
